@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 1rem;
  font-style: normal;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: shine 40s infinite alternate;

}
body {
  background: #202020;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: #202020;
  font-weight: 1rem;
  font-style: normal;
  height: 100%;
}

input, button {
  padding: .5rem 1rem;
}

h2 {
  margin: 1rem;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.task-creator {
  margin-top: 2rem;
}
.task-creator form{
  display: flex;
  gap: 0 1rem;
}

table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Estilos para el encabezado de la tabla */
thead {
  background: linear-gradient(#c2d2f2, #a47fe0);

}

thead th {
  padding: 10px;
  text-align: left;
  color: #202020;
  text-transform: uppercase;
  font-size: 1.3rem;

} 

thead tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 20px;

}

/* Estilos para el cuerpo de la tabla */
tbody {
  color: #202020;

  text-transform: capitalize;
  opacity: 0.94;
}



tbody tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

tbody td {
  padding: 10px;
  font-size: 1.3rem;
}

tbody tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.width-70 {
  width: 70%;
}

.p-dialog {
  min-height: 8rem;
}
 


.p-confirm-dialog-message, .p-dialog-title {
  padding: .5rem;
}

.p-dialog-footer {
  display: flex;
  justify-content: end;
  gap: 1rem;
}


