* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

button {
  background: #06266F;
  color: #fff;
  padding: 7px 14px;
  margin-inline: 1rem;
  box-shadow: 2px 1px 10px #6A48D7;
}

button:hover{
  background: #6C8CD5;
}

input {
  padding: 7px 14px;
  background-color: #FFAA00;
  border: none;
  border-bottom: 1px solid #876ED7;
  box-shadow: 2px 1px 10px #6A48D7;

}

input::placeholder{
  color: #3f3d3d;
}

input:focus{
  background: #FFBF40;
  outline: none;
}

button, input {
  border-radius: 10px;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.chekbox{
  appearance: none;
  cursor: pointer;
  background-color: #876ED7;
  width: 20px; /* Ancho del checkbox */
  height: 20px; /* Altura del checkbox */
  border-radius: 3px; /* Radio de borde del checkbox */
  border: 1px solid #ccc; /* Borde del checkbox */
}

.chekbox:checked {
  background-image: url("src/assets/icons/check-solid.svg");
  background-repeat: no-repeat;
  background-position: center;  
}

.checkBox-showList{
  appearance: none;
  background-image: url("src/assets/icons/chevron-up-solid.svg");
  background-repeat: no-repeat;
  background-position: center; 
}
.checkBox-showList:checked {
  background-image: url("src/assets/icons/chevron-down-solid.svg");
  background-repeat: no-repeat;
  background-position: center; 
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

}

/* Estilos para el encabezado de la tabla */
thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

/* Estilos para el cuerpo de la tabla */
tbody {
  background-color: #fff;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 10px;
}